html, body, h1, h2, h3, h4, h5, h6, p, div, span, table, thead, tbody, tr, td, button, hr, ul, li, ol, em, a {
    margin: 0;
    padding: 0;
}

:root {
    --gb-red-color: #fa0070;
    --theme-color: #A51D91;
    --gb-col-12: 50%;
    --gb-col-13: 33.33%;
    --gb-col-14: 25%;
    --gb-col-15: 20%;
}

h2 {
    font-size: 1rem;
    width: 100%;
}

table {
    font-size: 0.8rem;
    border-spacing: 0;
    margin-bottom: 20px;
}

table.bg-table {
    background: #FFF;
}

table.bg-table thead {
    background: #f6f6f6;
}

table thead th {
    padding: 8px 4px;
}

table tbody td {
    padding: 8px 4px;
}

table.bg-table thead th {
    border-right: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
}

/*.form-group {*/
/*    margin-bottom: 10px;*/
/*    height: 4rem;*/
/*}*/
.required em, em.required {
    font-style: normal;
    color: red;
    padding: 0 3px;
}

.form-group label {
    margin-top: 10px;
    display: inline-block;
    line-height: 1.5;
    font-size: 90%;
}

/*.form-group .form-control {*/
/*    height: 55%;*/
/*}*/

.gb-col-13 {
    display: inline-block;
    width: var(--gb-col-13);
}

.gb-col-12 {
    display: inline-block;
    width: var(--gb-col-12);
}

.gw-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    padding: 0 4px;
}

.gw-box > .inner2 {
    width: calc(var(--gb-col-12) - 10px); /*罸鋇� box ��絎遵墾筝榊�九��膣�絎遵墾�� 1/3鐚�����嶁�筝��頑� */
}

.gw-box > .inner3 {
    width: calc(var(--gb-col-13) - 10px); /*罸鋇� box ��絎遵墾筝榊�九��膣�絎遵墾�� 1/3鐚�����嶁�筝��頑� */
}

.gw-box > .inner1 {
    width: 100%; /*罸鋇� box ��絎遵墾筝榊�九��膣�絎遵墾�� 1/3鐚�����嶁�筝��頑� */
}

.inner1 > .form-group > .label {
    width: 100%;
    display: block;
}

.inner1 input[type='text'],
.inner1 select {
    width: 100%;
}

.gw-box input[type='text'],
.gw-box select {
    width: 98%;
    height: 2.5rem;
    border: 1px solid #dcdcdc;
    text-indent: 6px;
}

.gw-box input[type='text']:focus {
    outline-color: var(--theme-color);
    outline-width: 1px;
}

.inner1 input[type='radio'] {
    vertical-align: text-top;
}

.right-line {
    border-color: #ccc;
    border-right-style: solid;
    border-right-width: 1px;
}

.payment-dl .pay-desc {
    font-size: 13px;
    color: #b2b2b2;
    padding: 4px 6px;
}

.payment-dl .pay-desc img {
    max-width: 90%;
}

/*.payment-dl .checked .pay-desc {*/
/*    display: block;*/
/*}*/
.payment-dl dt {
    border: 2px solid #eee;
    /*padding: 10px 6px;*/
    margin-bottom: 20px;
    background-color: #FFF;
}

.payment-dl dt.checked {
    background: url("../img/form/checked.png") no-repeat right top #FFF;
    border-color: var(--theme-color);
}

.payment-dl dt:hover {
    border-color: var(--theme-color);
    cursor: pointer;
}

.payment-dl dt > label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 6px;
    width: 100%;
}

.product-wrap {
    font-size: 13px;
    padding: 4px;
}

/*.payment-dl dt > label {*/
/*    padding: 10px 6px;*/
/*}*/

.product-wrap .img-left {
    width: 30%;
    display: inline-block;
    float: left;
}

.product-wrap .img-left > img {
    width: 80%;
}

.grand-price {
    font-size: 16px;
    text-align: right;
    font-weight: 600;
    color: var(--theme-color);
}

.place-order {
    background: var(--theme-color);
    color: #FFFFFF;
    text-transform: uppercase;
    outline: none;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .gbw {
        width: 1170px;
        margin: 0 auto;
    }

    .nav-logo {
        display: inline-block;
        vertical-align: middle;
    }

    .nav-box {
        width: 80%;
        margin: 0 auto;
    }


    nav.navs {
        display: inline-block;
        float: right;
    }

    .nav-logo > img {
        max-height: 4rem;
    }

    .nav-logo .menu-icon {
        display: none;
    }

    nav.navs > ol {
        width: 750px;
        display: flex;
        list-style: none;
    }

    nav.navs > ol > li > a {
        display: block;
        width: auto;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 16px;
        text-transform: capitalize;
    }

    nav.navs > ol > li > a::after {
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        background-color: #fff;
        visibility: hidden;
        transition: all .2s ease-in-out 0s;
    }

    nav.navs > ol > li > a:hover::after {
        visibility: visible;
        transform: scaleX(1);
    }

    nav.navs > ol > li > a:hover + .nav-childs {
        visibility: visible;
    }

    nav.navs > ol > li > .nav-childs > .second-level {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 1;
        cursor: pointer;
        min-height: 400px;
        background: #000;
        color: #fff;
    }

    nav.navs .nav-childs:hover {
        visibility: visible;
    }

    nav.navs .nav-childs {
        visibility: hidden;
    }


}

@media (max-width: 1199px) {
    :root {
        --gb-col-12: 50%;
        --gb-col-13: 100%;
        --gb-col-14: 50%;
        --gb-col-15: 50%;
    }

    .gbw {
        width: 98%;
        margin: 0 auto;
    }

    .nav-top {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        position: fixed;
        top: 0;
        z-index: 11;
        width: 100%;
    }

    .c-mtpx {
        margin-top: 54px;
    }

    .nav-logo {
        padding: 0.2rem 0.5rem;
    }

    nav.navs {
        position: fixed;
        width: 100%;
        top: 3.4rem;
        background: #fff;
        z-index: 101;
    }


    .nav-logo svg {
        /*stroke: #fff;*/
        stroke-width: 1.5;
        stroke-linecap: square;
        stroke-linejoin: miter;
        fill: none;
        color: #fff;
    }

    nav.navs > ol.first-level {
        visibility: hidden;
        height: 0;
        transition: height 0.3s linear;
    }

    nav.navs.active > ol.first-level {
        visibility: visible;
        height: 100vh;
    }

    nav.navs > ol > li > a {
        color: #000;
        display: block;
        padding: 1rem 0 1rem 0.5rem;
        border-bottom: 1px solid #ddd;
    }

    .gw-box.right-line {
        border: none
    }
}

@media (min-width: 421px)  and (max-width: 1199px) {
    .nav-logo > img {
        max-height: 3rem;
    }
}

@media (max-width: 420px) {
    .nav-logo > img {
        max-height: 2rem;
    }
}

#footer {
    margin-top: 30px;
    background: #f6f6f8;
    padding: 30px 0;
    padding-top: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #222;
}

#footer a {
    color: #000;
    text-transform: capitalize;
}
